# HYPOTHESIS TESTING

In [1]:
## Given data
sample_mean=3050
pop_mean=(1000+5*600)
pop_std=5*25
n=25
## n is sample size

In [2]:
# State the Hypotheses statement

In [3]:
## null_hypothesis = There is no change in weekly operating cost
## alternate_hypothesis = Weekly operation cost has increased

In [4]:
# Calculate the Test Statistic

In [5]:
## as per Central Limit Theorem sample_standard_deviation = population_standard_deviation/square root of sample size

In [6]:
import numpy as np

In [7]:
sample_std=pop_std/np.sqrt(n)

In [8]:
tstats= (sample_mean-pop_mean)/(sample_std/np.sqrt(n))
tstats

-190.0

In [9]:
## Test statistic value is -190

In [10]:
# Determine the z-critical Value

In [12]:
## alpha = 0.05
import scipy.stats as stats

In [13]:
stats.norm.ppf(1-0.05/2)

1.959963984540054

In [14]:
## z-critical value at alpha level 5% is 1.96 which means confidence interval range is (-1.96,1.96)

In [15]:
# Make a Decision

In [18]:
## first we calculate the z-score
z_score=(sample_mean-pop_mean)/(pop_std/np.sqrt(n))
z_score

-38.0

In [19]:
## since z_score does not lie within the confidence interval range of (-1.96,1.96) we need to reject null_hypothesis

In [20]:
# Conclusion

In [22]:
## We can conclude there is strong evidence to support the restaurant owners' claim that the weekly operating costs are
## higher than the model suggests

# CHI-SQUARE TEST

In [28]:
# State the Hypotheses

In [29]:
## null_hypothesis = No significant association between type of smart home device purchased and customer satisfaction level
## alternate_hypothesis = There is significant association between type of smart home device purchased and customer satisfaction level

In [30]:
# Compute the Chi-Square Statistic

In [23]:
import pandas as pd

In [34]:
## saved the given data from word file to excel and imported using pandas
data=pd.read_csv(r'C:\D Drive\Data_Science\01 Assignments\04 Hypothesis testing\Chisquare_excel.csv')

In [27]:
data

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied                50           70
1         Satisfied                80          100
2           Neutral                60           90
3       Unsatisfied                30           50
4  Very Unsatisfied                20           50

In [35]:
data.set_index('Satisfaction',inplace=True)
data

                  Smart Thermostat  Smart Light
Satisfaction
Very Satisfied                  50           70
Satisfied                       80          100
Neutral                         60           90
Unsatisfied                     30           50
Very Unsatisfied                20           50

In [36]:
import scipy.stats as stats

In [37]:
stats.chi2_contingency(data)

Chi2ContingencyResult(statistic=5.638227513227513, pvalue=0.22784371130697179, dof=4, expected_freq=array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]]))

In [38]:
## from above code Chi_square statstistic value is 5.638

In [39]:
# Determine the Critical Value

In [40]:
## alpha = 0.05
## degree of freedom = (dof of row)*(dof of column) = (5-1)*(2-1) = 4

In [41]:
stats.chi2.ppf(1-0.05,4)

9.487729036781154

In [42]:
## as per above critical value confidence interval range at alpha=0.05 is (-9.488,9.488)

In [43]:
# Make a Decision

In [44]:
## Since the Chi_square statstistic value lies with the confidence interval range we fail to reject null_hypothesis

In [45]:
# Conclusion - There is no significant association between type of smart home device purchased and customer satisfaction level